*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.login-div{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 200px;
    /* margin-left: 30px; */
    /* background-color: aliceblue; */
}